@font-face{
  font-family: 'CenturyGothic';
  src: url('../fonts/centurygothic/CenturyGothic.eot');
  src: url('../fonts/centurygothic/CenturyGothic.eot?iefix') format('eot'),
  url('../fonts/centurygothic/CenturyGothic.woff') format('woff'),
  url('../fonts/centurygothic/CenturyGothic.ttf') format('truetype'),
  url('../fonts/centurygothic/CenturyGothic.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;

}