// Variables

//Global

$only-mobile-width: "max-width: 767px";
$tablet-width: "min-width: 768px";
$desktop-width: "min-width: 1200px";

// Pixel perfect
$mobile-bg: none;
$tablet-bg: none;
$desktop-bg: none;