.discounts {
  padding-bottom: 15px;
}

.discount__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 27px;
  font-weight: normal;
  line-height: 55px;
  min-height: 55px;
  background-color: #d34346;
  color: #fefefe;
  border-left: 10px solid #c62f31;
  margin: 0;
}

.discount--blue .discount__title {
  background-color: #314559;
  border-left: 10px solid #22303e;
}

.discount__content {
  min-height: 314px;
  background-color: #fff;
  padding: 30px 15px 40px;
  text-align: center;
  font-size: 26px;
  font-weight: normal;
  line-height: 32px;
  color: #d34346;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.discount--blue .discount__content {
  color: #314559;
}

.discount__content p {
  margin: 0;
}

.discount__content p b, .discount__content p strong {
  font-size: 42px;
  font-weight: bold;
  line-height: 42px;
  display: inline-block;
  margin: 10px 0;
}

.discount__content b:first-child, .discount__content strong:first-child {
  font-size: 64px;
  line-height: 64px;
  margin-top: 0px;
  margin-bottom: 20px ;
  display: block;
}

.discount__btn {
  display: block;
  @extend .discount__title;
  border: 0;
  margin-bottom: 15px;
}

.discount--blue .discount__btn {
  display: block;
  @extend .discount__title;
  border: 0;
}

.discount__btn:hover {
  color: #fefefe;
  text-decoration: none;
}