.footer {
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  padding: 24px 0;
}

.footer a{
  color: #fff;
}

.footer span{
  color: #fff;
}

.footer a:hover{
  color: #fff;
}