// build styles 

@import "global/vars";

@import "bootstrap";
@import "global/scaffolding";
@import "global/grid";

@import "global/fonts";
@import "global/font-awesome.min";
@import "global/outlines";

@import "blocks/header";
@import "blocks/sidebar";
@import "blocks/slider";
@import "blocks/why-us";
@import "blocks/features";
@import "blocks/widget";
@import "blocks/calendar";
@import "blocks/discounts";
@import "blocks/testimonials";
@import "blocks/contacts";
@import "blocks/footer-nav";
@import "blocks/footer-keywords";
@import "blocks/footer";

html {
  font-family: sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
// build styles 











